.tot-card {
  border-radius: 0.625rem;
  border: 1.2px solid var(--white-03);
  background-color: var(--white-10);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.tot-scrollbar::-webkit-scrollbar {
  height: 0.375rem;
}
